[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
uvicorn = "*"
openpyxl = "*"
python-multipart = "*"
httpx = "*"
jinja2 = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.13"
